@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<NewMovie>

<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>CopiedToPlex</td>
            <td>Notes</td>
        </tr>
        
    </thead>
    @foreach (var temp in Model)
    {
       <tbody>
           <tr>
                <td>@temp.Category?.CategoryName</td>
                <td>@temp.Title</td>
                <td>@temp.Year</td>
                <td>@temp.Director</td>
                <td>@temp.Rating</td>
                <td>@temp.Edited</td>
                <td>@temp.LentTo</td>
                <td>@temp.CopiedToPlex</td>
                <td>@temp.Notes</td>
                <td><a class=" btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@temp.MovieID">Edit</a></td>
                <td><a class="btn btn-danger"asp-controller="Home" asp-action="Delete" asp-route-id="@temp.MovieID">Delete</a></td>
           </tr>
        
    </tbody> 
    }
    
</table>